.relatedproducts{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90vh;
}
.relatedproducts h1{
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}
.relatedproducts hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}
.relatedproducts-item{
    margin-top: 50px;
    display: flex;
    gap: 30px;
    margin-bottom: 100px;
}
.relatedproducts-item img{
    height: 280px;
    width: auto;
}
@media (max-width: 768px) {
    .relatedproducts {
        height: auto; /* Allow the height to adjust based on content */
        width: 100%;
        margin-left: 1px; /* Set the width to 100% to make it responsive / / Add padding for better spacing on smaller screens */
    }

    .relatedproducts-item {
        flex-direction: column; /* Stack items vertically on smaller screens */
        gap: 1rem; /* Adjust the gap between items for better spacing */
        margin-top: 30px; /* Adjust the top margin */
    }
}